<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Add User
	</ui:define>

	<ui:define name="content">
<h:outputLabel value="Confirm data and accept" />

		<h:form id="addbook3">
			<h:panelGrid columns="2" id="addbp3">
			
			<h:outputLabel value="Title : " />
			<h:outputText value="#{bookBean.book.title}" />
						
			<h:outputLabel value="Price : " />
			<h:outputText value="#{bookBean.book.price}" />
			
			<h:outputLabel value="Description : " />
			<h:outputText value="#{bookBean.book.description}"  />
						
			<h:outputLabel value="Nbre pages : " />
			<h:outputText value="#{bookBean.book.nbOfpage}" />
			
			<h:outputLabel value="Illustrations : " />
			<h:outputText value="#{bookBean.book.illustrations}" />
			
				 
			<h:commandButton action="#{bookBean.addBook()}" value="Accepter" />
			<h:commandButton action="#{bookBean.doAdd()}" value="Back" />
			
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
